html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.dice {
  background-color: #cc0033;
  width: 88px;
  height: 88px;
  position: relative;
  border-radius: 8px;
}

.dice:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 22px;
  margin-top: -8px;
  left: 22px;
  margin-left: -8px;
  background-color: #fff;
}

.eyes-1:after {
  top: 50%;
  left: 50%;
}

.eyes-2:after {
  box-shadow: 44px 44px 0 #fff;
}

.eyes-3:after {
  top: 50%;
  left: 50%;
  box-shadow:
    -22px -22px 0 #fff,
    22px 22px 0 #fff
  ;
}

.eyes-4:after {
  box-shadow:
    44px 0 0 #fff,
    0 44px 0 #fff,
    44px 44px 0 #fff
  ;
}

.eyes-5:after {
  top: 50%;
  left: 50%;
  box-shadow:
    -22px -22px 0 #fff,
    -22px 22px 0 #fff,
    22px -22px 0 #fff,
    22px 22px 0 #fff
  ;
}

.eyes-6:after {
  box-shadow:
    22px 0 0 #fff,
    44px 0 0 #fff,
    0 44px 0 #fff,
    22px 44px 0 #fff,
    44px 44px 0 #fff
  ;
}

.decision {
  padding: 0.5em;
  font-size: 2em;
  background-color: #ddd;
  border: 3px solid transparent;
  border-radius: 8px;
  transition: 700ms;
}

.decision:focus {
  border: 3px solid #ccc;
  outline: none;
  background-color: #fff;
}

.roll-it {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 3px;
  margin-left: 0.4em;
  border-radius: 50%;
  width: 88px;
  height: 88px;
  background-color: #cc0033;
  color: #fff;
  line-height: 87px;
  box-shadow: 4px 4px 2px rgba(20, 20, 20, 0.1);
  cursor: pointer;
  -webkit-transition: all 700ms;
  -moz-transition: all 700ms;
  -ms-transition: all 700ms;
  -o-transition: all 700ms;
  transition: all 700ms;
}

.roll-it:hover {
  background-color: #be1d48;
}
